* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(IMG/fondo.jpg);
}

.registro {
  width: 400px;
  background: #babea2;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.registro h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #b8a8a0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #7a665a;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.registro a {
  color: white;
  text-decoration: none;
}

.registroa:hover {
  color: white;
  text-decoration: underline;
}

.registro .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
